<a href="https://colab.research.google.com/github/MateoGlz/Progra-Analitica-Descriptica-Predictiva/blob/main/13_Limpieza_Transformacion_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
ruta = '/content/drive/MyDrive/Colab_Notebooks/miaad-nyc-r-s.csv'
# df = pd.read_csv(ruta)
df = pd.read_csv(ruta, skipfooter=1, engine='python')
df.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [ ]:
df.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [ ]:
print(f"El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas")

El DataFrame tiene 84548 filas y 22 columnas

In [ ]:
nombre_actual = df.columns[0]

df = df.rename(columns={nombre_actual: 'INDEX MIIAD'})

print(f"Nombre cambiado: '{nombre_actual}' → 'INDEX MIIAD'")
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

Nombre cambiado: 'index_miiad' → 'INDEX MIIAD'
Filas: 84548, Columnas: 22

In [ ]:
nombres_originales = df.columns.tolist()

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w_]', '', regex=True)

print("✅ Nombres de columnas normalizados:")
print(f"De: {nombres_originales[:5]}...")
print(f"A:  {df.columns.tolist()[:5]}...")

✅ Nombres de columnas normalizados:
De: ['INDEX MIIAD', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present']...
A:  ['index_miiad', 'borough', 'neighborhood', 'building_class_category', 'tax_class_at_present']...

In [ ]:
columnas_a_verificar = ['sale_price', 'land_square_feet', 'gross_square_feet']

def convertir_a_float(serie):
    return pd.to_numeric(serie.astype(str).str.replace(',', '').str.replace('$', ''),
                         errors='coerce')

print("\nCONVIRTIENDO A FLOAT...")
for columna in columnas_a_verificar:
    if columna in df.columns:
        nulos_antes = df[columna].isnull().sum()

        df[columna] = convertir_a_float(df[columna])

        nulos_despues = df[columna].isnull().sum()
        nuevos_nulos = nulos_despues - nulos_antes

        print(f"{columna}: convertido a {df[columna].dtype}")
        if nuevos_nulos > 0:
            print(f"Se generaron {nuevos_nulos} nuevos valores nulos")
    else:
        print(f"{columna}: Columna no encontrada")

CONVIRTIENDO A FLOAT...
sale_price: convertido a float64
land_square_feet: convertido a float64
gross_square_feet: convertido a float64

In [ ]:
print("\n=== VALORES NULOS ===")
print(df.isnull().sum())
print("\n" + "="*50)

print("=== PRIMERAS 5 FILAS ===")
print(df.head())
print("\n" + "="*50)

print("\n=== INFORMACIÓN DEL DATASET ===")
print(df.info())
print("\n" + "="*50)

print("\n=== ESTADÍSTICAS DESCRIPTIVAS ===")
print(df.describe())
print("\n" + "="*50)

print("\n=== DISTRIBUCIÓN DE VARIABLES CATEGÓRICAS ===")
print("\nBUILDING CLASS CATEGORY:")
print(df['building_class_category'].value_counts())
print("\nNEIGHBORHOOD:")
print(df['neighborhood'].value_counts())
print("TAX CLASS AT PRESENT:")
print(df['tax_class_at_present'].value_counts())
print("\nBUILDING CLASS AT PRESENT:")
print(df['building_class_at_present'].value_counts())
print("\nADDRESS:")
print(df['address'].value_counts())

=== VALORES NULOS ===
index_miiad                       0
borough                           0
neighborhood                      0
building_class_category           0
tax_class_at_present              0
block                             0
lot                               0
easement                          0
building_class_at_present         0
address                           0
apartment_number                  0
zip_code                          0
residential_units                 0
commercial_units                  0
total_units                       0
land_square_feet                  0
gross_square_feet                 0
year_built                        0
tax_class_at_time_of_sale         0
building_class_at_time_of_sale    0
sale_price                        0
sale_date                         0
dtype: int64

==================================================
=== PRIMERAS 5 FILAS ===
   index_miiad  borough   neighborhood  \
0            4        1  ALPHABET CITY
1            5        1  ALPHABET CITY
2            6        1  ALPHABET CITY
3            7        1  ALPHABET CITY
4            8        1  ALPHABET CITY

                       building_class_category tax_class_at_present  block  \
0  07 RENTALS - WALKUP APARTMENTS                                2A    392
1  07 RENTALS - WALKUP APARTMENTS                                 2    399
2  07 RENTALS - WALKUP APARTMENTS                                 2    399
3  07 RENTALS - WALKUP APARTMENTS                                2B    402
4  07 RENTALS - WALKUP APARTMENTS                                2A    404

   lot easement building_class_at_present                 address  ...  \
0    6                                 C2            153 AVENUE B  ...
1   26                                 C7   234 EAST 4TH   STREET  ...
2   39                                 C7   197 EAST 3RD   STREET  ...
3   21                                 C4     154 EAST 7TH STREET  ...
4   55                                 C2  301 EAST 10TH   STREET  ...

  residential_units  commercial_units  total_units  land_square_feet  \
0                 5                 0            5              1633
1                28                 3           31              4616
2                16                 1           17              2212
3                10                 0           10              2272
4                 6                 0            6              2369

   gross_square_feet year_built tax_class_at_time_of_sale  \
0               6440       1900                         2
1              18690       1900                         2
2               7803       1900                         2
3               6794       1913                         2
4               4615       1900                         2

   building_class_at_time_of_sale  sale_price            sale_date
0                              C2     6625000  2017-07-19 00:00:00
1                              C7         -    2016-12-14 00:00:00
2                              C7         -    2016-12-09 00:00:00
3                              C4     3936272  2016-09-23 00:00:00
4                              C2     8000000  2016-11-17 00:00:00

[5 rows x 22 columns]

==================================================

=== INFORMACIÓN DEL DATASET ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index_miiad                     84548 non-null  int64
 1   borough                         84548 non-null  int64
 2   neighborhood                    84548 non-null  object
 3   building_class_category         84548 non-null  object
 4   tax_class_at_present            84548 non-null  object
 5   block                           84548 non-null  int64
 6   lot                             84548 non-null  int64
 7   easement                        84548 non-null  object
 8   building_class_at_present       84548 non-null  object
 9   address                         84548 non-null  object
 10  apartment_number                84548 non-null  object
 11  zip_code                        84548 non-null  int64
 12  residential_units               84548 non-null  int64
 13  commercial_units                84548 non-null  int64
 14  total_units                     84548 non-null  int64
 15  land_square_feet                84548 non-null  object
 16  gross_square_feet               84548 non-null  object
 17  year_built                      84548 non-null  int64
 18  tax_class_at_time_of_sale       84548 non-null  int64
 19  building_class_at_time_of_sale  84548 non-null  object
 20  sale_price                      84548 non-null  object
 21  sale_date                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB
None

==================================================

=== ESTADÍSTICAS DESCRIPTIVAS ===
        index_miiad       borough         block           lot      zip_code  \
count  84548.000000  84548.000000  84548.000000  84548.000000  84548.000000
mean   10344.359878      2.998758   4237.218976    376.224015  10731.991614
std     7151.779436      1.289790   3568.263407    658.136814   1290.879147
min        4.000000      1.000000      1.000000      1.000000      0.000000
25%     4231.000000      2.000000   1322.750000     22.000000  10305.000000
50%     8942.000000      3.000000   3311.000000     50.000000  11209.000000
75%    15987.250000      4.000000   6281.000000   1001.000000  11357.000000
max    26739.000000      5.000000  16322.000000   9106.000000  11694.000000

       residential_units  commercial_units   total_units    year_built  \
count       84548.000000      84548.000000  84548.000000  84548.000000
mean            2.025264          0.193559      2.249184   1789.322976
std            16.721037          8.713183     18.972584    537.344993
min             0.000000          0.000000      0.000000      0.000000
25%             0.000000          0.000000      1.000000   1920.000000
50%             1.000000          0.000000      1.000000   1940.000000
75%             2.000000          0.000000      2.000000   1965.000000
max          1844.000000       2261.000000   2261.000000   2017.000000

       tax_class_at_time_of_sale
count               84548.000000
mean                    1.657485
std                     0.819341
min                     1.000000
25%                     1.000000
50%                     2.000000
75%                     2.000000
max                     4.000000

==================================================

=== DISTRIBUCIÓN DE VARIABLES CATEGÓRICAS ===

BUILDING CLASS CATEGORY:
building_class_category
01 ONE FAMILY DWELLINGS                         18235
02 TWO FAMILY DWELLINGS                         15828
13 CONDOS - ELEVATOR APARTMENTS                 12989
10 COOPS - ELEVATOR APARTMENTS                  12902
03 THREE FAMILY DWELLINGS                        4384
07 RENTALS - WALKUP APARTMENTS                   3466
09 COOPS - WALKUP APARTMENTS                     2767
04 TAX CLASS 1 CONDOS                            1656
44 CONDO PARKING                                 1441
15 CONDOS - 2-10 UNIT RESIDENTIAL                1281
05 TAX CLASS 1 VACANT LAND                       1248
17 CONDO COOPS                                   1201
22 STORE BUILDINGS                                935
12 CONDOS - WALKUP APARTMENTS                     926
14 RENTALS - 4-10 UNIT                            671
29 COMMERCIAL GARAGES                             587
43 CONDO OFFICE BUILDINGS                         475
31 COMMERCIAL VACANT LAND                         463
08 RENTALS - ELEVATOR APARTMENTS                  382
47 CONDO NON-BUSINESS STORAGE                     377
21 OFFICE BUILDINGS                               350
30 WAREHOUSES                                     326
45 CONDO HOTELS                                   211
27 FACTORIES                                      201
06 TAX CLASS 1 - OTHER                            182
41 TAX CLASS 4 - OTHER                            158
46 CONDO STORE BUILDINGS                          154
26 OTHER HOTELS                                   114
37 RELIGIOUS FACILITIES                           100
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT         96
33 EDUCATIONAL FACILITIES                          69
32 HOSPITAL AND HEALTH FACILITIES                  59
48 CONDO TERRACES/GARDENS/CABANAS                  47
23 LOFT BUILDINGS                                  46
11A CONDO-RENTALS                                  43
35 INDOOR PUBLIC AND CULTURAL FACILITIES           32
28 COMMERCIAL CONDOS                               30
49 CONDO WAREHOUSES/FACTORY/INDUS                  30
38 ASYLUMS AND HOMES                               25
36 OUTDOOR RECREATIONAL FACILITIES                 14
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC          13
25 LUXURY HOTELS                                   12
34 THEATRES                                        12
18 TAX CLASS 3 - UNTILITY PROPERTIES                4
40 SELECTED GOVERNMENTAL FACILITIES                 2
11 SPECIAL CONDO BILLING LOTS                       2
39 TRANSPORTATION FACILITIES                        2
Name: count, dtype: int64

NEIGHBORHOOD:
neighborhood
FLUSHING-NORTH              3068
UPPER EAST SIDE (59-79)     1736
UPPER EAST SIDE (79-96)     1590
UPPER WEST SIDE (59-79)     1439
BEDFORD STUYVESANT          1436
                            ...
FRESH KILLS                    2
PELHAM BAY                     1
BRONX PARK                     1
EAST RIVER                     1
CITY ISLAND-PELHAM STRIP       1
Name: count, Length: 254, dtype: int64
TAX CLASS AT PRESENT:
tax_class_at_present
1     38633
2     30919
4      6140
2A     2521
2C     1915
1A     1444
1B     1234
2B      814
        738
1C      186
3         4
Name: count, dtype: int64

BUILDING CLASS AT PRESENT:
building_class_at_present
D4    12663
R4    12482
A1     6753
A5     5683
B2     4923
      ...
R7        1
K8        1
J1        1
CM        1
Z7        1
Name: count, Length: 167, dtype: int64

ADDRESS:
address
131-05 40TH   ROAD        210
429 KENT AVENUE           158
169 WEST 95TH   STREET    153
131-03 40TH   ROAD        147
265 STATE STREET          127
                         ...
9410 AVENUE N               1
9911 SEAVIEW AVENUE         1
1471 EAST 99TH STREET       1
1448 EAST 100 STREET        1
1384 EAST 99TH STREET       1
Name: count, Length: 67563, dtype: int64